@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap");

//# Front-end Style Guide
//
//## Layout
//
//The designs were created to the following widths:
//
//- Mobile: 375px
//- Desktop: 1440px
//
//## Colors
//
//### Primary
//
$textCTA: hsl(356, 100%, 66%);
//- Very light red (CTA hover background): hsl(355, 100%, 74%)
$headings: hsl(208, 49%, 24%);
//
//### Neutral
//
$textWhite: hsl(0, 0%, 100%);
//- Grayish blue (footer text): hsl(240, 2%, 79%)
$bodyCopy: hsl(207, 13%, 34%);
//- Very dark black blue (footer background): hsl(240, 10%, 16%)
//
//### Gradient
//
//Background gradient - Intro/CTA mobile nav:
//
$gradient-1: hsl(13, 100%, 72%);
$gradient-2: hsl(353, 100%, 62%);
//
//Background gradient - body:
//
//- Very dark gray blue: hsl(237, 17%, 21%)
//- Very dark desaturated blue: hsl(237, 23%, 32%)
//
//## Typography
//
//### Body Copy
//
//- Font size: 16px
//
//### Fonts
//
$fontUbuntu: "Ubuntu", san-serif;
$fontOverpass: "Overpass", san-serif;
//
//- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
//- Weights: 400, 500, 700
